<a href="https://colab.research.google.com/github/jangseokyoun/jangseokyoun/blob/main/%EA%B8%B0%EB%B3%B8%EC%84%9C1%EA%B6%8C_3%EC%9E%A5_1105%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
import pandas as pd
x_train= pd.read_csv('x_train.csv', encoding='cp949')
x_test= pd.read_csv('x_test.csv', encoding='cp949')
y_train= pd.read_csv('y_train.csv', encoding='cp949')
import warnings
warnings.filterwarnings('ignore')
# pd.options.display.max_columns = None
# pd.options.display.max_rows = None

print(x_train.head())
# print(x_train.info())#3500*10   환불금액결측, 주구매상품.주구매지점 object
print(x_test.info()) #2482 * 10 , 환불금액결측, 주구매상품, 주구매지점 object
print(y_train.head())
print(y_train.info())#3500*2
# print(x_train.head().T)
# print(x_train)
print(x_train.shape, x_test.shape, y_train.shape)
print(x_train.describe())
x_test_cust_id=x_test['cust_id']
x_test   = x_test.drop(columns='cust_id')
x_train   = x_train.drop(columns='cust_id')
y_train   = y_train.drop(columns='cust_id')
# print(y_train.head())
# print(type(y_train))
x_train['환불금액'] = x_train['환불금액'].fillna(0)
x_test['환불금액'] = x_test['환불금액'].fillna(0)
print(x_train.info())
print(x_test.info())
print(x_train['주구매상품'].unique())
print(x_train['주구매상품'].unique().size)

print(x_train['주구매지점'].unique())
print(x_train['주구매지점'].unique().size)


from sklearn.preprocessing  import LabelEncoder
encoder=LabelEncoder()
x_train['주구매상품'] = encoder.fit_transform(x_train['주구매상품'])
x_test['주구매상품'] = encoder.fit_transform(x_test['주구매상품'])
x_train['주구매지점'] = encoder.fit_transform(x_train['주구매지점'])
x_test['주구매지점'] = encoder.fit_transform(x_test['주구매지점'])


print(x_train['주구매상품'].head())
print(encoder.classes_)
cond = x_train['환불금액'] > 0
x_train.loc[cond, '환불금액_new'] = 1
x_train.loc[~cond, '환불금액_new'] = 0
print(x_train.head())

cond = x_test['환불금액'] > 0
x_test.loc[cond, '환불금액_new'] = 1
x_test.loc[~cond, '환불금액_new'] = 0
print(x_test.head())

   cust_id      총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수  \
0        0  68282840  11264000  6860000.0      기타   강남점    19  3.894737
1        1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000
2        2   3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000
3        3  16077620   4935000        NaN      기타   광주점    18  2.444444
4        4  29050000  24000000        NaN      보석  본  점     2  1.500000

     주말방문비율  구매주기
0  0.527027    17
1  0.000000     1
2  0.000000     1
3  0.318182    16
4  0.000000    85
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2482 entries, 0 to 2481
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  2482 non-null   int64
 1   총구매액     2482 non-null   int64
 2   최대구매액    2482 non-null   int64
 3   환불금액     871 non-null    float64
 4   주구매상품    2482 non-null   object
 5   주구매지점    2482 non-null   object
 6   내점일수     2482 non-null   int64
 7   내점당구매건수  2482 non-null   float64
 8   주말방문비율   2482 non-null   float64
 9   구매주기     2482 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 194.0+ KB
None
   cust_id  gender
0        0       0
1        1       0
2        2       1
3        3       1
4        4       0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   gender   3500 non-null   int64
dtypes: int64(2)
memory usage: 54.8 KB
None
(3500, 10) (2482, 10) (3500, 2)
           cust_id          총구매액         최대구매액          환불금액         내점일수  \
count  3500.000000  3.500000e+03  3.500000e+03  1.205000e+03  3500.000000
mean   1749.500000  9.191925e+07  1.966424e+07  2.407822e+07    19.253714
std    1010.507298  1.635065e+08  3.199235e+07  4.746453e+07    27.174942
min       0.000000 -5.242152e+07 -2.992000e+06  5.600000e+03     1.000000
25%     874.750000  4.747050e+06  2.875000e+06  2.259000e+06     2.000000
50%    1749.500000  2.822270e+07  9.837000e+06  7.392000e+06     8.000000
75%    2624.250000  1.065079e+08  2.296250e+07  2.412000e+07    25.000000
max    3499.000000  2.323180e+09  7.066290e+08  5.637530e+08   285.000000

           내점당구매건수       주말방문비율         구매주기
count  3500.000000  3500.000000  3500.000000
mean      2.834963     0.307246    20.958286
std       1.912368     0.289752    24.748682
min       1.000000     0.000000     0.000000
25%       1.666667     0.027291     4.000000
50%       2.333333     0.256410    13.000000
75%       3.375000     0.448980    28.000000
max      22.083333     1.000000   166.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   총구매액     3500 non-null   int64
 1   최대구매액    3500 non-null   int64
 2   환불금액     3500 non-null   float64
 3   주구매상품    3500 non-null   object
 4   주구매지점    3500 non-null   object
 5   내점일수     3500 non-null   int64
 6   내점당구매건수  3500 non-null   float64
 7   주말방문비율   3500 non-null   float64
 8   구매주기     3500 non-null   int64
dtypes: float64(3), int64(4), object(2)
memory usage: 246.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2482 entries, 0 to 2481
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   총구매액     2482 non-null   int64
 1   최대구매액    2482 non-null   int64
 2   환불금액     2482 non-null   float64
 3   주구매상품    2482 non-null   object
 4   주구매지점    2482 non-null   object
 5   내점일수     2482 non-null   int64
 6   내점당구매건수  2482 non-null   float64
 7   주말방문비율   2482 non-null   float64
 8   구매주기     2482 non-null   int64
dtypes: float64(3), int64(4), object(2)
memory usage: 174.6+ KB
None
['기타' '스포츠' '남성 캐주얼' '보석' '디자이너' '시티웨어' '명품' '농산물' '화장품' '골프' '구두' '가공식품'
 '수산품' '아동' '차/커피' '캐주얼' '섬유잡화' '육류' '축산가공' '젓갈/반찬' '액세서리' '피혁잡화' '일용잡화'
 '주방가전' '주방용품' '건강식품' '가구' '주류' '모피/피혁' '남성 트랜디' '셔츠' '남성정장' '생활잡화'
 '트래디셔널' '란제리/내의' '커리어' '침구/수예' '대형가전' '통신/컴퓨터' '식기' '소형가전' '악기']
42
['강남점' '잠실점' '관악점' '광주점' '본  점' '일산점' '대전점' '부산본점' '분당점' '영등포점' '미아점'
 '청량리점' '안양점' '부평점' '동래점' '포항점' '노원점' '창원점' '센텀시티점' '인천점' '대구점' '전주점'
 '울산점' '상인점']
24
0     5
1    21
2     6
3     5
4    15
Name: 주구매상품, dtype: int64
['강남점' '관악점' '광주점' '노원점' '대구점' '대전점' '동래점' '미아점' '본  점' '부산본점' '부평점' '분당점'
 '상인점' '센텀시티점' '안양점' '영등포점' '울산점' '인천점' '일산점' '잠실점' '전주점' '창원점' '청량리점'
 '포항점']
       총구매액     최대구매액       환불금액  주구매상품  주구매지점  내점일수   내점당구매건수    주말방문비율  \
0  68282840  11264000  6860000.0      5      0    19  3.894737  0.527027
1   2136000   2136000   300000.0     21     19     2  1.500000  0.000000
2   3197000   1639000        0.0      6      1     2  2.000000  0.000000
3  16077620   4935000        0.0      5      2    18  2.444444  0.318182
4  29050000  24000000        0.0     15      8     2  1.500000  0.000000

   구매주기  환불금액_new
0    17       1.0
1     1       1.0
2     1       0.0
3    16       0.0
4    85       0.0
        총구매액     최대구매액        환불금액  주구매상품  주구매지점  내점일수    내점당구매건수    주말방문비율  \
0   70900400  22000000   4050000.0      3      9    13   1.461538  0.789474
1  310533100  38558000  48034700.0      9     19    90   2.433333  0.369863
2  305264140  14825000  30521000.0      0      8   101  14.623762  0.083277
3    7594080   5225000         0.0     31      9     5   2.000000  0.000000
4    1795790   1411200         0.0     19     22     3   2.666667  0.125000

   구매주기  환불금액_new
0    26       1.0
1     3       1.0
2     3       1.0
3    47       0.0
4     8       0.0