[구글 코랩(Colab)에서 실행하기](https://colab.research.google.com/github/lovedlim/bigdata_analyst_cert_v2/blob/main/part1/ch3/ch3_ex_type1.ipynb)

- [안내] FutureWarning은 무시해도 됨

In [ ]:
# 흔히 발생하는 FutureWarning
# df['views'].fillna(min, inplace=True)  # 변경 전 (경고 발생 가능)
# df['views'] = df['views'].fillna(min)  # 변경 후 (권장 방식)

### Section1.

In [57]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv')
import warnings
warnings.filterwarnings('ignore')
df.shape
df.head()
cond= df['f5']!=0
df=df[cond]
min=df['views'].min()
df['views'].fillna(min, inplace=True)
int(df['views'].median())


df3 = df.copy()              # df1 전체 복사
df3['views'] = df3['views'].astype(float)   # views 컬럼만 float으로 변환
# df3

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 0 제외
cond = df['f5'] != 0
df = df[cond]

# 'views' 컬럼 결측치 최소값으로 채우기
min = df['views'].min()
df['views'].fillna(min, inplace=True)

# 'views' 컬럼 중앙값 계산
print(int(df['views'].median()))

5924

<ipython-input-74-e1b822c3283c>:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['views'].fillna(min, inplace=True)

In [ ]:
# FutureWarning 해결 버전
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 0 제외
cond = df['f5'] != 0
df = df[cond]

# 'views' 컬럼 결측치 최소값으로 채우기
min = df['views'].min()
df['views'] = df['views'].fillna(min)

# 'views' 컬럼 중앙값 계산
print(int(df['views'].median()))

5924

### Section2.

In [ ]:
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# subscribed 종류 중 가장 많은 날짜 구하기
df = df['subscribed'].value_counts()

# 일(day)값을 찾고, 정수형으로 변경
int(df.index[0][-2:])

17

In [61]:
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")
df['subscribed'].mode()

0    2025-02-17
Name: subscribed, dtype: object

In [71]:
df1=df['subscribed'].value_counts()
print(df1)
int(df1.index[0][-2:])

subscribed
2025-02-17    16
2024-06-21     3
2024-07-16     2
2024-04-03     2
2024-02-09     2
              ..
2024-05-06     1
2024-10-02     1
2024-12-02     1
2025-01-29     1
2025-01-30     1
Name: count, Length: 96, dtype: int64

17

### Section3.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측치 제거
df = df.dropna()

# 새로운 컬럼 계산
df['new'] = df['views']/df['f1']

# 내림차순 정렬
df = df.sort_values('new', ascending=False)

# age 값 찾아서 출력
int(df.iloc[0,1])

22

In [91]:
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")
# print(df.info())
df1=df.dropna()
print(df1.isnull().sum())
# df1.info()
df1['add_col']=df1['views']/df1['f1']
# df1['add_col'].max()
# cond=df1['add_col']==423.7826086956522
# df1[cond]

df2=df1.sort_values('add_col', ascending=False)
int(df2.iloc[0,1])

id            0
age           0
city          0
f1            0
f2            0
f3            0
f4            0
f5            0
subscribed    0
views         0
dtype: int64

22

### Section4.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측 데이터 0으로 대체
df['views'].fillna(0, inplace=True)

# 내림차순 정렬
df = df.sort_values('views',ascending=False)

# views 상위 10개 데이터에 최소값 대입
views_min = df.iloc[:10]['views'].min()
df.iloc[:10, -1] = views_min

# views 컬럼의 합
print(int(df['views'].sum()))

652812

<ipython-input-78-e59d670d0956>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['views'].fillna(0, inplace=True)

In [133]:
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")
df['views'].fillna(0, inplace=True)

value=df['views'].nlargest(10).iloc[-1]
value

df.loc[df['views']>value, 'views'] =value
df['views'].sum()

np.float64(652812.0)

In [ ]:
# FutureWarning 해결 버전
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측 데이터 0으로 대체
df['views'] = df['views'].fillna(0)

# 내림차순 정렬
df = df.sort_values('views',ascending=False)

# views 상위 10개 데이터에 최소값 대입
views_min = df.iloc[:10]['views'].min()
df.iloc[:10, -1] = views_min

# views 컬럼의 합
print(int(df['views'].sum()))

652812

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측 데이터 0으로 대체
df['views'].fillna(0, inplace=True)

# views 컬럼에서 10번째로 큰 값을 구합니다.
value = df['views'].nlargest(10).iloc[-1]

# views 컬럼에서 가장 큰 10개의 값을 10번째로 큰 값으로 대체
df.loc[df['views'] > value, 'views'] = value

# views 컬럼의 합
print(int(df['views'].sum()))

652812

<ipython-input-80-fece6007a668>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['views'].fillna(0, inplace=True)

In [ ]:
# FutureWarning 해결 버전
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측 데이터 0으로 대체
df['views'] = df['views'].fillna(0)

# views 컬럼에서 10번째로 큰 값을 구합니다.
value = df['views'].nlargest(10).iloc[-1]

# views 컬럼에서 가장 큰 10개의 값을 10번째로 큰 값으로 대체
df.loc[df['views'] > value, 'views'] = value

# views 컬럼의 합
print(int(df['views'].sum()))

652812

### Section5.

In [165]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# f4 컬럼에서 뒤에 2개 값 슬라이싱
df['new'] = df['f4'].str[2:4]
df['new']

# # FJ인 데이터 찾기
cond = df['new'] == 'FJ'
df = df[cond]
df
# # f2 평균 구하기
# print(round(df['f2'].mean(), 2))

,id,age,city,f1,f2,f3,f4,f5,subscribed,views,new
0,id01,2.0,서울,NaN,0,gold,ENFJ,91.297791,2024-07-16,6820.0,FJ
1,id02,9.0,서울,70.0,1,NaN,ENFJ,60.339826,2024-05-12,2534.0,FJ
4,id05,24.0,서울,85.0,2,NaN,ISFJ,29.269869,2024-03-07,1338.0,FJ
6,id07,36.3,서울,60.0,1,NaN,ISFJ,9.796378,2024-01-11,61.0,FJ
7,id08,38.0,서울,101.0,1,silver,INFJ,83.685380,2024-03-06,3260.0,FJ
8,id09,3.3,서울,35.0,2,NaN,ESFJ,17.252986,2024-03-21,2764.0,FJ
13,id13,15.0,서울,68.0,0,gold,ESFJ,83.685380,2024-12-30,5643.0,FJ
18,id18,41.0,서울,87.0,2,gold,ISFJ,80.138280,2024-03-03,7933.0,FJ
24,id24,80.0,부산,44.0,0,gold,INFJ,73.586397,2024-09-11,5976.0,FJ
31,id31,86.0,부산,77.0,0,gold,ESFJ,73.586397,2024-02-11,8014.0,FJ
32,id32,25.0,부산,64.0,0,vip,ISFJ,13.049921,2024-05-24,17421.0,FJ
33,id33,47.0,부산,94.0,0,silver,ENFJ,17.252986,2024-04-02,3880.0,FJ
39,id39,56.0,부산,50.0,0,NaN,INFJ,33.308999,2024-12-22,NaN,FJ
41,id41,81.0,대구,55.0,0,gold,ENFJ,37.113739,2024-10-04,8640.0,FJ
45,id45,97.0,대구,88.0,0,gold,ENFJ,13.049921,2024-06-21,8317.0,FJ
52,id52,97.0,대구,82.0,1,gold,ISFJ,90.496999,2024-05-20,8518.0,FJ
54,id54,53.0,대구,NaN,1,gold,ENFJ,69.730313,2024-06-21,5872.0,FJ
57,id57,3.0,대구,111.0,0,silver,ISFJ,29.269869,2024-01-12,4421.0,FJ
59,id59,64.0,대구,NaN,1,silver,ESFJ,20.129444,2024-06-23,4994.0,FJ
63,id63,88.0,경기,86.0,1,silver,ISFJ,73.586397,2024-12-01,4053.0,FJ
67,id67,66.0,경기,52.0,1,NaN,ISFJ,73.586397,2024-06-17,1159.0,FJ
73,id73,90.0,경기,NaN,1,NaN,ISFJ,73.586397,2024-08-12,512.0,FJ
81,id81,86.0,경기,50.0,1,NaN,ISFJ,37.113739,2024-09-14,244.0,FJ
85,id85,83.6,경기,55.0,0,gold,INFJ,80.138280,2024-09-24,6719.0,FJ
99,id99,1.0,경기,47.0,0,gold,ESFJ,97.381034,2024-12-02,6090.0,FJ
105,id104,21.0,서울,13.0,0,silver,ESFJ,0.000000,2025-02-17,4556.0,FJ
106,id105,21.0,경기,24.0,0,gold,ESFJ,0.000000,2025-02-17,7654.0,FJ
119,id118,24.0,부산,94.0,1,vip,ESFJ,0.000000,2025-02-17,2356.0,FJ

In [143]:
import pandas as pd

df = pd.DataFrame({
    'f4': ['abcd', '12345', 'HELLO']
})

print(df['f4'].str[2:4])
df

0    cd
1    34
2    LL
Name: f4, dtype: object

      f4
0   abcd
1  12345
2  HELLO

In [161]:
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")
print(df.head(3))
cond=df['f4'].str.contains('FJ')
round(df[cond]['f2'].mean(),2)


df['new'] = df['f4'].str[2:4]

# cond= df['new']=='FJ'
# df=df[cond]
# df['f2'].mean()

     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   2.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16  6820.0
1  id02   9.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12  2534.0
2  id03  27.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16  7312.0

np.float64(0.61)

In [153]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# FJ인 데이터 찾기
cond = df['f4'].str.contains('FJ')
df = df[cond]

# f2 평균 구하기
# print(round(df['f2'].mean(), 2))

0.61

### Section6.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 조건에 맞는 데이터
cond1 = df['f3'] == 'gold'
cond2 = df['f2'] == 2
df = df[cond1 & cond2]

# 분산
result = df['f1'].var()

# 출력
print(round(result,2))

235.43

### Section7.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 나이 + 1
df['age'] = df['age'] + 1

# 20대, 30대 조건
cond1 = (df['age'] >= 20) & (df['age'] < 30)
cond2 = (df['age'] >= 30) & (df['age'] < 40)

# 30대 views
result = abs(df[cond1]['views'].mean() - df[cond2]['views'].mean())

print(round(result,2))

263.13

### Section8.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 자료형 변환
df['subscribed'] = pd.to_datetime(df['subscribed'])
# df['subscribed'] = pd.to_datetime(df['subscribed'], format="%Y-%m-%d") # format 사용

# 파생변수 생성 (년, 월)
df['year'] = df['subscribed'].dt.year
df['month'] = df['subscribed'].dt.month

# 2024년 2월이고, 'f3'이 gold인 데이터
cond1 = df['year'] == 2024
cond2 = df['month'] == 2
cond3 = df['f3'] == 'gold'
df = df[cond1 & cond2 & cond3]

# 데이터 개수
print(len(df))

5

### Section9.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# views수가 1000이하
cond = df['views'] <= 1000
df = df[cond]

# f4컬럼 종류별 개수
df = df['f4'].value_counts()

# f4컬럼 최빈값
print(df.index[0])

ISFJ

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# views수가 1000이하
cond = df['views'] <= 1000
df = df[cond]

# f4컬럼 종류별 개수
print(df['f4'].mode()[0])

ISFJ

### Section10.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측치가 있는 행은 삭제하고
df.dropna(inplace=True)

# 지역별 평균 계산
df = df.groupby(['city']).mean(numeric_only=True) # 시험환경은 mean() 사용

# 'f2'컬럼이 가장 큰 지역 출력
print(df.sort_values("f2", ascending = False).index[0])

서울

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측치가 있는 행은 삭제하고
df.dropna(inplace=True)

# 지역별 평균 계산
df = df.groupby('city').mean(numeric_only=True) # 시험환경은 mean() 사용

# 'f2'컬럼이 가장 큰 지역 출력
print(df['f2'].idxmax())

서울

### Section11.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측치가 있는 행 제거
df.dropna(inplace=True)

# 70% 지점
end = int(len(df) * 0.7)

# 70% 데이터 슬라이싱
df = df.iloc[:end]

# 3사분위수, 1사분위수
q3 = df['views'].quantile(.75)
q1 = df['views'].quantile(.25)

# 결과 출력
print(int(q3 - q1))

2771

### Section12.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측치가 가장 많은 컬럼, 출력 결과로 확인
#print(df.isnull().sum())

# 결측치가 가장 많은 컬럼 제거
df = df.dropna(subset=['f1'])

# 두번째로 가장 결측치가 많은 컬럼 최빈값 대체
freq = df['f3'].mode()[0]
df['f3'].fillna(freq, inplace=True)

# f3컬럼이 gold인 데이터의 수
print(sum(df['f3'] == 'gold'))

63

<ipython-input-92-9255fa2d5c93>:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['f3'].fillna(freq, inplace=True)

In [ ]:
# FutureWarning 해결 버전
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측치가 가장 많은 컬럼, 출력 결과로 확인
#print(df.isnull().sum())

# 결측치가 가장 많은 컬럼 제거
df = df.dropna(subset=['f1'])

# 두번째로 가장 결측치가 많은 컬럼 최빈값 대체
freq = df['f3'].mode()[0]
df['f3'] = df['f3'].fillna(freq)

# f3컬럼이 gold인 데이터의 수
print(sum(df['f3'] == 'gold'))

63

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측치가 가장 많은 컬럼
col = df.isnull().sum().idxmax()

# 결측치가 가장 많은 컬럼 제거
df = df.dropna(subset=[col])

# 두번째로 가장 결측치가 많은 컬럼 최빈값 대체
freq = df['f3'].mode()[0]
df['f3'] = df['f3'].fillna(freq)

# f3컬럼이 gold인 데이터의 수
print(len(df[df['f3'] == 'gold']))

63

### Section13.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측치가 있는 데이터 True / False
cond = df['f1'].isnull()

# 결측치가 있는 데이터 선택
df = df[cond]

# age의 평균값을 구하시오
result = df['age'].mean()

# 소수 첫째자리 까지 출력
print(round(result, 1))

53.6

### Section14.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 중복데이터 제거
df.drop_duplicates(inplace=True)

# 값 대체
import numpy as np
df['f3'] = df['f3'].replace(np.nan,0).replace('silver',1).replace('gold',2).replace('vip',3)

# f3컬럼의 총합 (정수형으로 출력)
print(int(df['f3'].sum()))

167

<ipython-input-96-b23fe472b5d5>:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['f3'] = df['f3'].replace(np.nan,0).replace('silver',1).replace('gold',2).replace('vip',3)

In [ ]:
# 방법2
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 중복데이터 제거
df.drop_duplicates(inplace=True)

# 계산
r1 = sum(df['f3'] == 'silver') * 1
r2 = sum(df['f3'] == 'gold') * 2
r3 = sum(df['f3'] == 'vip') * 3
print(r1 + r2 + r3)

167

### Section15.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 자료형이 object 컬럼 선택
cols = df.select_dtypes(exclude='object').columns
df = df[cols]

# 결측치 0으로 대체
df = df.fillna(0)

# 행과 열 변경
df = df.T

# 행별 합이 3000이상인 데이터 수
print(sum(df.sum() > 3000))

88

### Section16.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 3사분위 1사분위
q3 = df['views'].quantile(.75)
q1 = df['views'].quantile(.25)

# IQR 계산
IQR = q3 - q1

# 이상치 기준 찾기
line1 = q1 - 1.5 * IQR
line2 = q3 + 1.5 * IQR

# 이상치 조건에 만족하는 데이터 찾기
cond1 = df['views'] < line1
cond2 = df['views'] > line2
df = df[cond1 | cond2]

# views 컬럼 합
print(int(df['views'].sum()))

77699

### Section17.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 표준편차
r1 = df['views'].std()

# 음수이거나 0 테이터 제외
cond = df['age'] <= 0
df = df[~cond]

# 소수점이 없는 값만 선택
cond = df['age'] == round(df['age'],0)
df = df[cond]

# 표준편차
r2 = df['views'].std()

print(round(r1 + r2, 2))

8297.31

### Section18.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data2.csv", index_col="year")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data2.csv", index_col="year")

# 2001, 평균보다 큰값 합계
m1 = df.loc[2001].mean()
cond1 = df.loc[2001] > m1
r1 = sum(cond1)

# 2003평균보다 작은값 합계
m2 = df.loc[2003].mean()
cond2 = df.loc[2003] < m2
r2 = sum(cond2)

print(r1+r2)

202

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data2.csv", index_col="year")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data2.csv", index_col="year")
df = df.T # 행과 열 변경

# 평균보다 큰값 합계
m1 = df[2001].mean()
cond1 = df[2001] > m1
r1 = sum(cond1)

# 평균보다 작은값 합계
m2 = df[2003].mean()
cond2 = df[2003] < m2
r2 = sum(cond2)

print(r1+r2)

202

### Section19.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 결측치 채우기
df = df.fillna(method='bfill')

# city와 f2기준 그룹합 계산
df = df.groupby(['city','f2']).sum(numeric_only=True).reset_index()

# 내림차순 정렬
df = df.sort_values('views', ascending=False)

# 3번째로 큰 값 출력
print(df.iloc[2,0])

경기

<ipython-input-103-0b683dda5833>:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='bfill')

### Section20.

In [ ]:
import pandas as pd
# df = pd.read_csv("type1_data1.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

# 자료형 변환
df['subscribed'] = pd.to_datetime(df['subscribed'])

# 파생변수 생성
df['month'] = df['subscribed'].dt.month

# 월별로 데이터 합 집계
df = df.groupby('month').sum(numeric_only=True)

# 오름차순 정렬 및 가장 작은값 출력
print(df.sort_values('views').index[0])

11

### Section21.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")

# datetime으로 자료형 변경
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])

# 지연시간 계산(분)
df['지연시간'] = (df['실제도착시간'] - df['예상도착시간']).dt.total_seconds()/60

# 조건1 - 예상 도착시간보다 늦게 도착한 건
cond1 = df['지연시간'] > 0

# 조건2 - 거리가 7 이상인 건
cond2 = df['거리'] >= 7

# 조건에 맞는 데이터(행) 수 출력
print(len(df[cond1 & cond2]))

311

### Section22.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")

# datetime으로 자료형 변경
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['주문시간'] = pd.to_datetime(df['주문시간'])

# 실제 도착시간과 주문시간 차이 계산(분)
df['diff'] = (df['실제도착시간'] - df['주문시간']).dt.total_seconds()/60

# 앱종류별 도착시간과 주문시간 차이의 평균 계산
df = df.groupby('앱종류')['diff'].mean()

# 가장 작은 시간(분) 반올림 후 출력
print(round(df.min()))

62

### Section23.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")

# datetime 자료형으로 변경
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])

# 지연시간 계산(분)
df['지연시간'] = (df['실제도착시간'] - df['예상도착시간']).dt.total_seconds() / 60  # 분 단위로 계산

# 실제 도착시간이 예상 도착시간보다 늦은 경우를 체크하는 컬럼 생성
df['지연여부'] = df['지연시간'] > 0

# 결제 종류별 지연된 주문의 비율 계산
result = df.groupby('결제종류')['지연여부'].mean()

# 가장 비율이 높은 값
print(round(result.max(), 2))

0.56

### Section24.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")
df.head()

# 사용자별로 주문 거리의 합계와 평균 계산
df_distance = df.groupby('user')['거리'].sum()

# 주문 거리의 합계가 50km 이상인 사용자만 필터링
cond = df_distance >= 50
df_distance = df_distance[cond]

# 주문 거리의 합계가 50km 이상인 사용자들의 데이터 필터링
filtered_data = df[df['user'].isin(df_distance.index)]
filtered_data

# 해당 사용자들의 선호 결제 방식 중 큰 값
payment_method = filtered_data['결제종류'].value_counts()
print(payment_method[0])

48

<ipython-input-108-58f0cd49ad9f>:19: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(payment_method[0])

### Section25.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")

# 각 사용자별로 첫 주문과 마지막 주문 사이의 시간 간격(일 단위)을 계산
df['주문시간'] = pd.to_datetime(df['주문시간'])
min_order_time = df.groupby('user')['주문시간'].min()
max_order_time = df.groupby('user')['주문시간'].max()
time_interval = (max_order_time - min_order_time).dt.days

# 1회 이하 주문 제외
cond1 = time_interval>0
m = time_interval[cond1].mean()

# 평균보다 기간이 긴 유저 수
cond2 = time_interval > m
print(len(time_interval[cond2]))

146

### Section26.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")

# 주문이 가장 많이 발생한 연-월 찾기
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['주문월'] = df['주문시간'].dt.to_period('M')
year_month = df['주문월'].value_counts().idxmax()

# 해당 연-월에 배고팡 앱을 통한 주문 중, '앱결제'로 결제된 주문의 비율 계산
cond1 = df['주문월'] == year_month
cond2 = df['앱종류'] == '배고팡'
filtered_df = df[cond1 & cond2]
cond3 = filtered_df['결제종류'] == '앱결제'
result = len(filtered_df[cond3])/len(filtered_df)
print(round(result,2))

0.31

### Section27.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")

# datetime 자료형으로 변경
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])

# 점심시간 주문 선택
df['시간'] = df['주문시간'].dt.hour
cond1 = df['시간'] >= 10
cond2 = df['시간'] < 13
df = df[cond1 & cond2]

# 속도(km/h) = 거리(km) / 시간(h)
df['배달시간'] = df['실제도착시간'] - df['주문시간']
df['배달시간'] = df['배달시간'].dt.total_seconds() / 60 / 60 # 시간 단위로 변경
df['속도'] = df['거리'] / df['배달시간']
sum(df['속도'] >= 50)

1

### Section28.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")

# 주문 연월 추출 (연도-월)
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['주문월'] = df['주문시간'].dt.to_period('M')

# 주문월을 기준으로 빈도 수(주문 횟수) 계산
count_month = df.groupby('주문월').size()

# 주문 횟수가 가장 많은 월의 인덱스 추출
year_month = count_month.idxmax()

# 문자열로 변경 및 하이픈(-) 제거
year_month = str(year_month)
result = year_month.replace("-","")
print(result)

202209

### Section29.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")

# 배달료 계산 함수 정의
def delivery_fee(distance):
    if distance < 5:
        return 2000
    elif distance < 10:
        return 4000
    elif distance < 15:
        return 6000
    elif distance < 20:
        return 8000

# 각 주문에 대한 배달료 계산
df['배달료'] = df['거리'].apply(delivery_fee)

# 월별로 배달료 집계
df['주문시간'] = pd.to_datetime(df['주문시간'])
period_M = df['주문시간'].dt.to_period("M")
monthly = df.groupby(period_M)['배달료'].sum()

# 가장 많은 배달료가 발생한 월과 그 월의 총 배달료 찾기
max_fee_month = monthly.idxmax()
max_fee_value = monthly[max_fee_month]
print(max_fee_value)

448000

### Section30.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")
df['주문시간'] = pd.to_datetime(df['주문시간'])

# 주말/평일 구분 0:월, 1:화 ~ 5:토, 6:일
df['dayofweek'] = df['주문시간'].dt.dayofweek
df['주말'] = df['dayofweek'] >= 5

# 주말 개수, 평일 개수 계산
weekend = sum(df['주말'])
weekday = sum(~df['주말'])

# 차이 절대값 출력
print(abs(weekend - weekday))

412

### Section31.

In [ ]:
import pandas as pd
# df = pd.read_csv("delivery_time.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/delivery_time.csv")

# 문자 슬라이싱
df['user_int'] = df['user'].str[5:]

# 자료형 변환
df['user_int'] = df['user_int'].astype(int)

# 합계
print(df['user_int'].sum())

261387

### Section32.

In [ ]:
import pandas as pd
# df = pd.read_csv("school_data.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/school_data.csv")

# 수학, 영어, 국어 점수 합계
df['total_score'] = df[['수학', '영어', '국어']].sum(axis=1)

# 합계 점수를 기준으로 상위 10명 선택
top10 = df.nlargest(10, 'total_score')

# 선택된 10명의 수학 평균 점수 계산
result = top10['수학'].mean()
print(round(result))

82

### Section33.

In [ ]:
import pandas as pd
# df = pd.read_csv("school_data.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/school_data.csv")

# 이름을 유지하면서 수학, 영어, 국어 형태 변경
melted_df = df.melt(id_vars=['이름'], value_vars=['수학', '영어', '국어'])

# 가장 작은 값 25개의 합
result = melted_df['value'].nsmallest(25).sum()
print(result)

420

### Section34.

In [ ]:
import pandas as pd
# df = pd.read_csv("school_data.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/school_data.csv")
# df_science = pd.read_csv("school_data_science.csv")
df_science = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/school_data_science.csv")

# 두 데이터프레임 합치기(axis=1)
df = pd.concat([df, df_science], axis=1)

# 수평(열)으로 평균 계산
df['수영국과 평균'] = df[['수학', '영어', '국어', '과학']].mean(axis=1)

# 수학, 영어, 국어, 과학 평균이 60점 이상
result = sum(df['수영국과 평균'] >= 60)
print(result)

9

### Section35.

In [ ]:
import pandas as pd
# df = pd.read_csv("school_data.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/school_data.csv")
# df_social = pd.read_csv("school_data_social.csv")
df_social = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/school_data_social.csv")

# '이름'을 기준으로 두 데이터프레임 합치기
merged_df = pd.merge(df, df_social, on='이름')

# 교사 필터링
cond1 = merged_df['영어교사'] == '장선생'
cond2 = merged_df['사회교사'] == '오선생'

# 필터링된 데이터에서 수학점수 합
result = merged_df[cond1 & cond2]['수학'].sum()
print(result)

602

### Section36.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/sales.csv")

# 지역별 평균 판매금액 계산 후, 결측값 대체 (transform 사용)
m = df.groupby('지역코드')['판매금액'].transform('mean')
df['판매금액'] = df['판매금액'].fillna(m)

# 각 거래별 해당 지역의 평균 판매금액 구하기
df['지역평균'] = df.groupby('지역코드')['판매금액'].transform('mean')

# 판매금액과 지역평균의 차이(절대값) 계산하여 새로운 컬럼 생성
df['차이'] = abs(df['판매금액'] - df['지역평균'])

# 지역별 차이 평균 계산 후, 최대값을 가지는 지역코드 출력
result = df.groupby('지역코드')['차이'].mean().idxmax()
print(result)

103

### Section37.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/store_sales.csv")

# 매출액 계산
df['매출액'] = df['판매수량'] * df['단가']

# 요일별 평일/주말 구분 딕셔너리
day_mapping = {'월': '평일', '화': '평일', '수': '평일', '목': '평일', '금': '평일',
               '토': '주말', '일': '주말'}

# 매핑을 활용하여 새로운 열 추가
df['구분'] = df['요일'].map(day_mapping)

# 매장코드 & 평일/주말별 매출액 합계
store_sales = df.groupby(['매장코드', '구분'])['매출액'].sum().unstack()

# 평일과 주말 매출액 차이 계산
store_sales['차이'] = abs(store_sales['평일'] - store_sales['주말'])

# 전체 매장 중 매출액 편차가 가장 큰 매장의 편차 값 찾기
store_sales['차이'].max()

241975

### Section38.

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/region_sales.csv")

# 피벗 테이블 생성: Region, Channel별로 Product별 Sales 합계 계산
pivot_table = pd.pivot_table(df, index=['Region', 'Channel'], columns='Product',
                             values='Sales', aggfunc='sum')

# A비율 계산: 제품 A의 판매액 ÷ 총매출
pivot_table['총매출'] = pivot_table['A'] + pivot_table['B']
pivot_table['A비율'] = pivot_table['A'] / pivot_table['총매출']

# 최대 A비율 값 출력
result = pivot_table['A비율'].max()
round(result, 2)

0.51

### Section39.

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/monthly_sales.csv')

# melt로 Wide(가로) → Long(세로) 변환
melted_df = pd.melt(
    df,
    id_vars='Region',
    value_vars=['Jan','Feb','Mar'],
    var_name='Month',
    value_name='Sales'
)

# Region, Month별 매출 합계 구하기
grouped_sales = melted_df.groupby(['Region', 'Month'])['Sales'].sum().reset_index()

# 매출 합계가 1400을 초과하는 건수
cond = grouped_sales['Sales'] > 1400
len(grouped_sales[cond])

6